{% extends 'base.html' %}

{% block table %}
    <table width="778" height="510"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tableBorder_gray">
  <tr>
    <td align="center" valign="top" style="padding:5px;"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="20" align="right" valign="middle" class="word_orange">当前位置：首页 &gt;&gt;&gt;&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="57" background="/static/main_booksort.gif">&nbsp;</td>
          </tr>
          <tr>
            <td height="72" valign="top"><table width="100%" height="63"  border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="2%" rowspan="2">&nbsp;</td>
                <td width="96%" align="center" valign="top"><table width="100%"  border="1" cellpadding="0" cellspacing="0" bordercolor="red" bordercolordark="#B7B6B6" bordercolorlight="#FFFFFF">
                  <tr align="center">
                    <td width="5%" height="25">排名</td>
					<td width="10%">图书条形码</td>
					<td width="24%">图书名称</td>
					<td width="10%">图书类型</td>
					<td width="10%">书架</td>
					<td width="14%">出版社</td>
					<td width="11%">作者</td>
					<td>定价(元)</td>
				    <td>借阅次数</td>
                  </tr>

                  <tr>
                    <td height="25" align="center">1</td>
					<td style="padding:5px;">&nbsp;9787302047230</td>
					<td style="padding:5px;">Java学习指南</td>
					<td style="padding:5px;">计算机类</td>
					<td align="center">&nbsp;A架</td>
					<td align="center">&nbsp;电子工业出版社</td>
					<td width="11%" align="center">***</td>
					<td width="8%" align="center">39.0</td>
				    <td width="8%" align="center">4</td>
                  </tr>

                  <tr>
                    <td height="25" align="center">2</td>
					<td style="padding:5px;">&nbsp;001</td>
					<td style="padding:5px;">建筑测试</td>
					<td style="padding:5px;">建筑类</td>
					<td align="center">&nbsp;B架</td>
					<td align="center">&nbsp;电子工业出版社</td>
					<td width="11%" align="center">郭靖</td>
					<td width="8%" align="center">11.0</td>
				    <td width="8%" align="center">4</td>
                  </tr>

                  <tr>
                    <td height="25" align="center">3</td>
					<td style="padding:5px;">&nbsp;9787115157690</td>
					<td style="padding:5px;">JSP啊</td>
					<td style="padding:5px;">计算机类</td>
					<td align="center">&nbsp;A架</td>
					<td align="center">&nbsp;清华大学出版社</td>
					<td width="11%" align="center">***</td>
					<td width="8%" align="center">89.0</td>
				    <td width="8%" align="center">2</td>
                  </tr>

                  <tr>
                    <td height="25" align="center">4</td>
					<td style="padding:5px;">&nbsp;9787115157788</td>
					<td style="padding:5px;">琅琊榜</td>
					<td style="padding:5px;">武侠小说</td>
					<td align="center">&nbsp;C架</td>
					<td align="center">&nbsp;琅琊阁出版社</td>
					<td width="11%" align="center">海晏</td>
					<td width="8%" align="center">189.0</td>
				    <td width="8%" align="center">88888</td>
                  </tr>

                  <tr>
                    <td height="25" align="center">5</td>
					<td style="padding:5px;">&nbsp;9787115157766</td>
					<td style="padding:5px;">明朝那些事儿</td>
					<td style="padding:5px;">历史小说</td>
					<td align="center">&nbsp;C架</td>
					<td align="center">&nbsp;中国友谊出版社</td>
					<td width="11%" align="center">当年明月</td>
					<td width="8%" align="center">189.0</td>
				    <td width="8%" align="center">58</td>
                  </tr>

                  <tr>
                    <td height="25" align="center">6</td>
					<td style="padding:5px;">&nbsp;9787115177677</td>
					<td style="padding:5px;">白夜行</td>
					<td style="padding:5px;">悬疑小说</td>
					<td align="center">&nbsp;C架</td>
					<td align="center">&nbsp;南海出版公司</td>
					<td width="11%" align="center">东野圭吾</td>
					<td width="8%" align="center">44.7</td>
				    <td width="8%" align="center">15</td>
                  </tr>

                  <tr>

                    <td height="25" align="center">7</td>
					<td style="padding:5px;">&nbsp;9787115155566</td>
					<td style="padding:5px;">霍乱时期的爱情</td>
					<td style="padding:5px;">爱情小说</td>
					<td align="center">&nbsp;C架</td>
					<td align="center">&nbsp;南海出版公司</td>
					<td width="11%" align="center">加西亚·马尔克斯</td>
					<td width="8%" align="center">44.10</td>
				    <td width="8%" align="center">88</td>
                  </tr>

                  <tr>
                    <td height="25" align="center">8</td>
					<td style="padding:5px;">&nbsp;9787115153399</td>
					<td style="padding:5px;">月亮与六便士</td>
					<td style="padding:5px;">外国小说</td>
					<td align="center">&nbsp;C架</td>
					<td align="center">&nbsp;天津出版传媒集团</td>
					<td width="11%" align="center">毛姆</td>
					<td width="8%" align="center">9.9</td>
				    <td width="8%" align="center">158</td>
                  </tr>

                </table>
                  </td>

              </tr>

            </table></td>
          </tr>
        </table>
          </td>
      </tr>
    </table>
    </td>
  </tr>
</table>



{% endblock table %}